name: chocolatine

env:
  MIRROR_URL: git@github.com:Man0fCulture/test.gitaction.git
  EXECUTABLES: libmy.a
  
on:
  push:
    branches:
    - '!ga-ignore-*'
  pull_request:
    branches:
    - '*'
    
jobs:

  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y nodejs
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        repository: ${{ env.MIRROR_URL }}
        ssh-key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
    
    - name: Build code
      run: |
        make
      
    - name: Verify build
      run: |
        if [ $? -eq 0 ]; then
          echo "Build succeeded!"
        else
          echo "Build failed!"
          exit 1
        fi
